/*(0,0,1) */
body {
    font: 400 18px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color:  darkolivegreen;
  }
  
  /*(0,0,1) */
  h1 {
    background-color:black; 
    color: white;
    text-transform: uppercase;
    padding: 20px 20px;
    text-align: center;    
    font-size: 25px;  
  }
  
  /*(0,0,1) */
  footer{
      color:black;
      background-color:lightgray;
      text-align: right;
      font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
  
    }
  
  /*(0,0,1) */
  h2{
      color: black;
      background-color:antiquewhite;
      padding: 15px 15px;
      text-align: center; 
      font-size: 16px;
      text-transform: uppercase;
  
    }
  
    /*(1,0,0) */
  #h2Equipo{
    color:lightgray;
    background-color:  darkolivegreen;
    text-align: center;
    padding: 5px 5px;
    font-size: 19px;
  
    
  }
  
  
  /*(0,0,1) */
   h3{
     color:black;
    background-color:lightcyan;
    text-align: center;
    font-size: 14px;
   }
  
   /*(0,0,1) */
   h4{
       color:black;
    background-color:lightgray;
    text-align: center;
    font-size: 13px;
    margin-bottom: 1%;
   }
  
  /*(0,0,1) */
  article{
    color:black;
    background-color:lightgray;
  }
  
  
  /*(1,0,0) */
  #equipo{
    color: black;
    overflow: hidden;
    padding: 5px;
    background-color: lightgrey;
    text-align: center;  
  }
  
  /*(1,0,0) */
  #tableEquipo{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  /*(0,0,1) */
  td{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
  }
  
  /*(0,0,1) */
  th{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
    color: white;
    background-color: inherit;
  }
  /*(1,0,0) */
  #nombre, #rol{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
    color:black;
    background-color: inherit;
  }
  
  /*(0,1,2) */
  tr:nth-child(even) {
    background-color: lightgray;
    color: inherit;
    text-align:center;
  }
  
  /*(0,0,1) */
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  
  /*(0,0,1) */
  nav{
    overflow: hidden;
    margin-bottom: 10px;
    background-color: darkkhaki;
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
  }
  
  
  /*(0,1,2) */
   nav a:hover{
   text-align: center;
  }
  
  /*(0,0,1) */
  article{
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
  }
  
  /*(1,0,0) */
  #torres, #diciembre, #min, #millones, #cifra{
    color: white;
    background-color: inherit;
  }
  section{
      text-align: center;
  }
  
  img{
    position: relative;
    max-height: 300px;
    width: 400px;
    display: block;
    margin:auto;
  }
  /*(1,0,0) */
#imagen1Hito1{
  position: relative;
  max-height: 300px;
  width: 400px;
  display: block;
  margin:auto;

}
         
/*(1,0,0) */
#imagen1Hito2{
  position: relative;
  max-height: 300px;
  width: 400px;
  display: block;
  margin:auto;

}

         
/*(1,0,0) */
#imagen1Hito3{
  position: relative;
  max-height: 300px;
  width: 400px;
  display: block;
  margin:auto;

}
/*(0,1,1) */
input[type=text] {
    width: 20%;
    padding: 5px 10px;
    font-size:23px;
    margin: 5px 5px;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: white;
}
/*(0,1,1) */
input[type=button], input[type=submit], input[type=reset] {
    
    border: none;;
    padding: 10px 32px;
    font-size: 23px;
    min-width: 16%;
    text-decoration: none;
    margin: 10px 10px;
    cursor: pointer;
}
/*(0,2,1) */
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #333;
  color:white;
}
  

   /*(0,1,1) */
   input[type=submit]{
    visibility: hidden;
  }
  /*(1,0,0)*/
#mapa {
    height: 400px;
    width: 400px;
}
  /*(1,0,0)*/
#novisible{
  visibility: hidden;
}
   /*(0,1,1) */
a:visited {
  color: white;
  }