/*(0,0,1) */
body {
  font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
  line-height: 1.8;
  color: black;
  background-color:  rgb(49, 73, 3);
}

/*(0,0,1) */
h1 {
  background-color:black; 
  color: white;
  text-transform: uppercase;
  padding: 20px 20px;
  text-align: center;     
}

/*(0,0,1) */
footer{
color:black;
background-color:lightgray;
text-align: right;
}

/*(0,0,1) */
h2{
color: black;
background-color:lightgray;
padding: 15px 15px;
text-align: center; 
}

/*(0,0,1) */
h3{
color:black;
background-color:lightgray;
text-align: center;
}

/*(0,0,1) */
h4{
text-align: center;
font-size: 13px;
margin-bottom: 1%;
}

/*(0,0,1) */
article{
color:black;
background-color:lightgray;
}




/*(0,0,1) */
table {
  background-color: lightgray;
  border-collapse: collapse;
  color: black;
}

/*(0,0,1) */
th, td{
  border: 1px solid black;
  padding: 5px;
  border-spacing: 15px;
}


/*(0,1,1) */
a:visited{
  color: black;
  background-color: inherit;
}

/*(0,0,1) */
nav{
  background-color:black;
  color: inherit;
}


/*(0,1,2) */
nav a:hover{
  text-align: center;
}

/*(0,0,2) */
nav li{
  display:inline-block;
  background-color:darkkhaki;
  padding:4px 15px;
  border:1px solid black;
  text-align:center;
  color: black;
  width: 13%;  
}




    
            


