/*(0,0,1) */
body {
  font: 400 18px Tahoma,sans-serif; /*Familia sans-serif*/
  line-height: 1.8;
  color: black;
  background-color:  darkolivegreen;
}

/*(0,0,1) */
h1 {
  background-color:black; 
  color: white;
  text-transform: uppercase;
  padding: 20px 20px;
  text-align: center;     
}

/*(0,0,1) */
footer{
color:black;
background-color:lightgray;
text-align: right;
}

/*(0,0,1) */
h2{
color: black;
background-color:lightgray;
padding: 15px 15px;
text-align: center; 
}

/*(0,0,1) */
h3{
color:black;
background-color:lightgray;
text-align: center;
}

/*(0,0,1) */
h4{
text-align: center;
font-size: 13px;
margin-bottom: 1%;
}

/*(0,0,1) */
article{
color:black;
background-color:lightgray;
}




/*(0,0,1) */
table {
  background-color: lightgray;
  border-collapse: collapse;
  color: black;
  width: 100%;
}

/*(0,0,1) */
th, td{
  border: 1px solid black;
  padding: 5px;
  border-spacing: 15px;
}



nav{
  overflow: hidden;
  margin-bottom: 10px;
  background-color: darkkhaki;
}



 nav a:hover{
 text-align: center;
}





    
            


