/*(0,0,1) */
body {
    font: 400 25px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color:  darkolivegreen;
    text-align: center;
    
  }
  
  /*(0,0,1) */
  h1 {
    background-color:black; 
    color: white;
    text-transform: uppercase;
    padding: 20px 20px;
    text-align: center;    
    font-size: 25px;  
  }
    /*(0,0,1) */
  label{
    color: black;
    background-color:inherit;
    padding: 15px 15px;
    text-align: center; 
    font-size: 23px;
  }
  
  /*(0,0,1) */
  footer{
      color:black;
      background-color:lightgray;
      text-align: right;
      font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
  
    }
  
  /*(0,0,1) */
  h2{
      color: black;
      background-color:lightgray;
      padding: 15px 15px;
      text-align: center; 
      font-size: 19px;
  
    }
  
  
  
  /*(0,0,1) */
  td{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
  }
  
  /*(0,0,1) */
  th{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
    color: green;
    background-color: inherit;
    text-align: center;
  }
  /*(1,0,0) */
  #nombre, #rol{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
    color:black;
    background-color: inherit;
  }
  
  /*(0,1,2) */
  tr:nth-child(even) {
    background-color: lightgray;
    color: inherit;
  }
  
  /*(0,0,1) */
  table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
  }
  
  
  /*(0,0,1) */
   h3{
     color:black;
    background-color:lightgray;
    text-align: center;
    font-size: 16px;
   }
  
   /*(0,0,1) */
   h4{
    text-align: center;
    font-size: 13px;
    margin-bottom: 1%;
   }
    /*(0,0,1) */
    h5{
        text-align: center;
        font-size: 13px;
        margin-bottom: 1%;
       }
        /*(0,0,1) */
    h6{
        text-align: center;
        font-size: 13px;
        margin-bottom: 1%;
       }
        /*(0,0,1) */

  
  /*(0,0,1) */
  article{
    color:black;
    background-color:lightgray;
  }
   /*(0,1,0) */
.operation {
  color: black;
  background-color: lightskyblue;
  
}

  
 /*(1,0,0) */
 #resultado{
  width: 40%;
  color: WHITE;
  background-color: black;
}
  /*(0,1,0) */
.moneda {
  color: black;
  
  background-color: white;
}

/*(0,1,1) */
input[type=text] {
    width: 20%;
    padding: 5px 10px;
    font-size:23px;
    margin: 5px 5px;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: white;
}
/*(0,1,1) */
input[type=button], input[type=submit], input[type=reset] {
    
    border: none;
    
    padding: 10px 32px;
    font-size: 23px;
    min-width: 16%;
    text-decoration: none;
    margin: 10px 10px;
    cursor: pointer;
}
/*(0,2,1) */
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #333;
  color:white;
}
  




  
  /*(0,0,1) */
  article{
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
  }
  

/*(1,0,0) */
#img1{
    height: 25px;
    width: 25px;
}
