/*(0,0,1) */
body {
    font: 400 25px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
    background-color:  darkolivegreen;
  }
  
  /*(0,0,1) */
  h1 {
    background-color:black; 
    color: white;
    text-transform: uppercase;
    padding: 20px 20px;
    text-align: center;    
    font-size: 25px;  
  }
  
  /*(0,0,1) */
  footer{
      color:black;
      background-color:lightgray;
      text-align: right;
      font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
      line-height: 1.8;
  
    }
  
  /*(0,0,1) */
  h2{
      color: black;
      background-color:lightgray;
      padding: 15px 15px;
      text-align: center; 
      font-size: 19px;
  
    }
  
    /*(1,0,0) */
  #h2Equipo{
    color:lightgray;
    background-color:  darkolivegreen;
    text-align: center;
    padding: 5px 5px;
    font-size: 19px;
  
    
  }
  /*(1,0,0) */
#imagen3{
    position: relative;
    float: right;
    width: 30%;
    max-height: 200px;
    max-width: 250px;
    margin-left: 10px;
    
  }
  
  /*(1,0,0) */
  #imagen4{
    position: relative;
    float: left;
    width: 30%;
    margin-right: 10px;
    max-height: 130px;
    max-width: 200px;
    
  }
      
  /*(1,0,0) */
  #imagen5{
    position: relative;
    float: right;
    width: 30%;
    max-height: 200px;
    max-width: 250px;
    margin-left: 10px;
  }
  
  
  /*(0,0,1) */
   h3{
     color:black;
    background-color:lightgray;
    text-align: center;
    font-size: 16px;
   }
  
   /*(0,0,1) */
   h4{
    text-align: center;
    font-size: 13px;
    margin-bottom: 1%;
   }
    /*(0,0,1) */
    h5{
        text-align: center;
        font-size: 13px;
        margin-bottom: 1%;
       }
  
  /*(0,0,1) */
  article{
    color:black;
    background-color:lightgray;
  }
    /*(1,0,0) */
  #final{
      text-align: center;
  }
  
  /*(1,0,0) */
  #equipo{
    color: black;
    overflow: hidden;
    padding: 5px;
    background-color: lightgrey;
    text-align: center;  
  }
  

  
  /*(0,0,1) */
  td{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
  }
  
  /*(0,0,1) */
  th{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
    color: green;
    background-color: inherit;
    text-align: center;
  }
  /*(1,0,0) */
  #nombre, #rol{
    border: 1px solid black;
    padding: 5px;
    border-spacing: 15px;
    color:black;
    background-color: inherit;
  }
  
  /*(0,1,2) */
  tr:nth-child(even) {
    background-color: lightgray;
    color: inherit;
  }
  
  /*(0,0,1) */
  table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
  }
  /*(0,1,0) */
[for="contenido"] { 
    display: none;
    color: white;
    
    background-color: black;
}
/*(0,1,0) */
[for="etiquetaAñadir"] { 
    display: none;
    color: white;
    
    background-color: black;
}
/*(0,1,0) */
[for="IdAñadir"] { 
    display: none;
    color: white;
    
    background-color: black;
}
/*(0,1,0) */
[for="ContenidoAñadir"] { 
    display: none;
    color: white;
    
    background-color: black;
}
  
  /*(0,0,1) */
  nav{
    overflow: hidden;
    margin-bottom: 10px;
    background-color: darkkhaki;
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
    color: black;
  }
   /*(0,1,1) */
   input[type=submit]{
    visibility: hidden;
  }
  
  /*(0,1,2) */
   nav a:hover{
   text-align: center;
  }
  
  /*(0,0,1) */
  article{
    font: 400 15px Tahoma,sans-serif; /*Familia sans-serif*/
    line-height: 1.8;
  }
  
  /*(1,0,0) */
  #torres, #diciembre, #min, #millones, #cifra{
    color: white;
    background-color: inherit;
  }
    /*(1,0,0) */
  #cambios{
      text-align: center;
  }
      /*(1,0,0) */
  #noMostrar{
    display: none;
  }
    
  
    
  
   
          
                  
      
  